#
# https://help.github.com/articles/dealing-with-line-endings/
#
# Linux start script should use lf
/gradlew        text eol=lf

# Shell scripts must use lf so they run on Linux/macOS
*.sh            text eol=lf

# These are Windows script files and should use crlf
*.bat           text eol=crlf

